<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>Selamat Datang Di Embun Code</p>
      <p>
        Tambah Kajian Singkat <a href="/login"> Login</a>.
      </p>
      <p>Created By {Sigit Wasis Subekti}</p>
    </div>
  </section>
</body>
</html>
